@import "tailwindcss";

@theme inline {
  --color-black: #000000;
  --color-off-white: #E8E8E8;
  --color-bleu: #0928F1;

  --spacing-page-x: 1.5rem;
  --spacing-page-x-md: 4rem;
  --spacing-page-top: 4rem;
  --spacing-page-top-md: 6rem;
  --spacing-page-bottom: 12rem;
  --spacing-title-gap: 4rem;
  --spacing-section-gap: 2rem;
}

::selection {
  background: var(--color-bleu);
  color: var(--color-off-white);
}

body {
  background: var(--color-black);
  color: var(--color-off-white);
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
}

.font-heading {
  font-family: "parabolica", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.text-trim-cap {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.font-body {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

